*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color:#FFC7C7;
    padding: 5px;
}
header h1{
    padding: 5px;
}
section{
    display: flex;
    gap: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
img{
    width: 900px;
}
.block{
    width: 900px;
}
.txt{
    text-align: center;
    line-height: 1.5em;
}
a{
    margin:5px 0;
    text-decoration: none;
    display: block;
    background-color:#C683D7;
    width: 90px;
    padding: 5px;
    color: whitesmoke;
    border-radius: 5px;
}
a:hover{
    background-color: #E7BCDE;
    transition: 0.5s;
    color: black;
}